*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Optima;
}

.cardHighlight {
  min-height: 100%;
}

#Login{
    margin: auto;
    width: 50%;
    text-align: left;
 
}

#Login p{
  text-align: center;
}

#AddProduct {
   width: 50%;
   margin: auto;
}

#ProductView {
  border: transparent;

}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  background-color: red;
  padding: 4px;
  position: absolute;
  box-sizing:border-box;
  top:50%;
  left:2px;
  transform: translateY(-50%);
}

#ProdutPageImage {
  width: 350px;
  height: 350px;
  object-fit: contain;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  bject-fit: contain
}

#ProdutPageImage1 {
  width: 350px;
  height: 160px;
  object-fit: contain;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  bject-fit: contain
}

#HomeImage {
/*  object-fit: contain;*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#ProductImages{
  object-fit: contain
}
/*
.cardHighlight{
  padding: 0;
  margin: 0;
}*/

#productCard {
/*border-radius: 50px;*/

transition: 0.3s ease;
}

#productCard:hover {

box-shadow: 0 0 10px rgba(0,0,0,.2);
}

#Loading{
/*  padding-top: 50%;
  padding-left: 50%;*/
}

.topnav:hover {
  border-bottom: 2px solid black;
}
.topnav:before {
  transition: 0.3s ease;
}

#NavBar{
  border-top: 1px solid lightgrey;
/*  border-bottom: 1px solid lightgrey;*/
 position: sticky;
}
input {
    border:none;
    border-bottom: 1px solid gray;
    padding: 5px 10px;
    outline: none;
    width: 650px;
    position: center;
 }

#SearchBar input{
  padding: 9px 4px 9px 40px;
   background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;

}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }
.text-divider{margin: 2em 0; line-height: 0; text-align: center;}
.text-divider span{background-color: white; padding: 1em;}
.text-divider:before{ content: " "; display: block; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #f7f7f7;}
/*

#SearchBar body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}



#SearchBar  form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 0 0 30px;
}

#SearchBar  input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

#SearchBar  input[type="search"]::placeholder {
  color: #bbb;
}



#SearchBar form.nosubmit {
 border: none;
 padding: 0;
}

#SearchBar input.nosubmit {
  border: 1px solid #555;
  width: 100%;
  padding: 9px 4px 9px 40px;
   background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
*/